.index {
    text-align: center;
    background-color: rgb(240, 197, 144);
    font-size: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

.link {
    font-size: 20px;
    display: inline;
    margin-right: 180px;
    margin-left: 140px;
}

#pizza, .dough {
    text-align: left;
    color:yellow;
    background-color: rgb(255, 38, 0);
    border-radius: 50%;
    padding: 10px 20px;
}

body img {
    border-radius: 50%;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

#toast, .roll {
    color: white;
    background-color: rgb(102, 60, 20);
    border-radius: 50%;
    padding: 10px 20px;
}

#cake, .clown {
    text-align: right, left;
    color: rgb(214, 201, 13);
    background-color: rgb(89, 83, 167);
    border-radius: 50%;
    padding: 10px 20px;
}